<!DOCTYPE html>
{% extends "base.html"%}

{% block css_place %}

{% endblock %}

{% block main_block%}
<!--Portfolios-->
<br>
<div class="card h-md-100 shadow bg-white rounded" style="width: 100%; height: 200px; display: flex">
    <div class="card-header" style="display: flex">
        <div>
            <h5  style="color: #19393D"><strong>Portfolio</strong></h5>
        </div>
        <div>
            <select class="form-control form-control-sm" name="portfolio" id="portfolio_selector">
            {% for portfolio in portfolios %}
            <option>{{portfolio.portfolio_name}}</option>
            {% endfor %}
        </select>
        </div>
    </div>
    <div class="card_container form-row align-items-center ">

    </div>
</div>

<!--Robot-->
<br>
<div class="card h-md-100 shadow bg-white rounded" style="width: 100%; height: 200px; display: flex">
    <div class="card-header" style="display: flex">
        <div style="padding-right: 15px;">
            <h5  style="color: #19393D"><strong>Robot</strong></h5>
        </div>
        <div style="padding-right: 15px;">
            <select class="form-control form-control-sm" name="robotSelector" id="robotSelector">
                {% for robot in robots %}
                <option>{{robot.name}}</option>
                {% endfor %}
            </select>
        </div>
        <div style="padding-right: 15px;">
            <button type="button" class="btn btn-outline-dark" id="riskSaveBtn">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                    <path fill-rule="evenodd"
                          d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                </svg>
            </button>
        </div>
    </div>
    <div class="card_container form-row align-items-center ">
        <div class="form-group">
            <label>Daily Loss Limit %</label>
            <input type="number" class="form-control form-control-sm" step="0.01" min="0.00" name="dailyLossLimit"
                   id="dailyLossLimit"
                   style="width: 100%"
                   required>
        </div>
    </div>
</div>

<!--Account-->
<br>
<div class="card h-md-100 shadow bg-white rounded" style="width: 100%; height: 200px; display: flex">
    <div class="card-header" style="display: flex">
        <div>
            <h5  style="color: #19393D"><strong>Account</strong></h5>
        </div>
        <div>
            <select class="form-control form-control-sm" name="accountSelector" id="accountSelector">
        </select>
        </div>
    </div>
    <div class="card_container form-row align-items-center ">

    </div>
</div>
{% load static %}
<script src="{% static 'admin/js/risk_main.js' %}"></script>
{% endblock %}
