<!DOCTYPE html>
{% extends "base.html" %}

{% block entry_form %}

{% endblock %}

{% block main_block%}
<!--Load accounts-->
<br>
<div class="card" style="width: 100%; height: 400px; display: flex">
    <div class="card-header" style="display: flex">
        <div style="padding: 5px">
            <label style="color: #19393D; margin: 0px"><strong>Accounts</strong></label>
        </div>
        <div style="position: absolute; right: 40px">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Options
                    </a>
                    <div class="dropdown-menu"
                         style="position: absolute; left: 0px">
                        <label class="dropdown-item" id="newAccountBtn" data-toggle="modal"
                               data-target="#newAccount">New</label>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div style="width: 100%; height: 100%; overflow-y:scroll">
        <table class="table-striped" style="width: 100%;" id="accountTable">
            <thead style="width: 100%">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Broker</th>
                <th scope="col">Account Number</th>
                <th scope="col">Token</th>
                <th scope="col">Environment</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody id="accountTableBody"></tbody>
        </table>
    </div>
</div>

<!--New Account Modal-->
<div class="modal fade" id="newAccount" data-backdrop="static" data-keyboard="false" tabindex="-1"
     aria-labelledby="newAccountLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 300px">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newAccountLabel"><strong>New Account</strong></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input class="form-control form-control-sm" type="text" name="broker_name"
                           placeholder="Broker Name" required id="brokerName">
                </div>
                <div class="form-group">
                    <input class="form-control form-control-sm" type="text" name="account_number"
                           placeholder="Account Number"
                           required id="accNumber">
                </div>
                <div class="form-group">
                    <input class="form-control form-control-sm" type="text" name="token" placeholder="Account Token"
                           required id="token">
                </div>
                <div class="form-group" style="display: flex">
                    <label style="padding: 5px;">Environment</label>
                    <select class="form-control form-control-sm" style="width: 100%; padding: 5px" id="env"
                            required>
                        <option>live</option>
                        <option>demo</option>
                    </select>
                </div>
                <button class="btn btn-primary btn-sm submit_button" type="submit" name="button"
                        value="Add New Account" style="width: 100%;" id="accountCreateBtn">Create</button>
            </div>
        </div>
    </div>
</div>

{% load static %}
<script src="{% static 'admin/js/accounts_main.js' %}"></script>
{% endblock %}
