<!DOCTYPE html>
{% extends "base.html" %}

{% block head %}
{% load static %}
<link href="{% static 'admin/css/robots_template.css' %}" rel="stylesheet">

{% endblock %}

<!--New robot creator form-->
{% block entry_form %}
<!--Robot Processes-->
<br>
<div class="card" style="width: 100%; height: 400px; display: flex">
    <div class="card-header" style="display: flex">
        <div style="padding: 5px">
            <label style="color: #19393D; margin: 0px"><strong>Process Management</strong></label>
        </div>
        <div style="position: absolute; right: 40px">
            <button type="button" class="btn btn-outline-dark" id="calc_btn">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right" fill="currentColor"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                </svg>
            </button>
        </div>
    </div>
    <div class="card_container align-items-center col-auto">
        <div class="col-auto" style="padding: 5px">
            <select class="form-control" name="port_name" id="robot_proc_selector" required>
                <option>Balance</option>
                <option>Risk</option>
            </select>
        </div>
        <div class="col-auto" style="padding: 5px">
            <select class="form-control" name="port_name" id="robot" required>
                {% for robot in robots %}
                <option>{{ robot.name}}</option>
                {% endfor %}
                <option>ALL</option>
            </select>
        </div>
        <div class="form-group" style="padding: 5px">
            <input class="form-control" type="date" id="processStartDate" name="trip-start">
        </div>
        <div class="form-group" style="padding: 5px">
            <input class="form-control" type="date" id="processEndDate" name="trip-start">
        </div>
        <div class="form-group" style="padding: 5px">

        </div>
        <div class="form-group" style="padding: 5px" id="calcLoadingDiv">
            <button class="btn btn-outline-dark" type="button" disabled>
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Calculating...
            </button>
        </div>
    </div>
    <div class="card_container" style="width: 100%; overflow-y:scroll;">
        <table class="table-striped" style="width: 100%" id="robotMessageTable">
            <tbody id="robotTableMessageBody">
            </tbody>
        </table>
    </div>
</div>

<!--Transefer balances-->
<br>
<div class="card" style="width: 100%; height: 400px; display: flex">
    <div class="card-header" style="display: flex">
        <div style="padding: 5px">
            <label style="color: #19393D; margin: 0px"><strong>Balance Transfer</strong></label>
        </div>
        <div style="position: absolute; right: 40px">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Options
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"
                         style="position: absolute; left: 0px">
                        <label class="dropdown-item">Show Robots</label>
                        <label class="dropdown-item">New</label>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="card_container align-items-center col-auto">

    </div>
</div>

{% load static %}
<script src="{% static 'admin/js/robots_right_panel.js' %}"></script>
{% endblock %}

<!--Main block-->
{% block main_block%}

<!--Load robot-->
<br>
<div class="card" style="width: 100%; height: 400px; display: flex">
    <div class="card-header" style="display: flex">
        <div style="padding: 5px">
            <label style="color: #19393D; margin: 0px"><strong>Robots</strong></label>
        </div>
        <div style="position: absolute; right: 40px">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Options
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"
                         style="position: absolute; left: 0px">
                        <label class="dropdown-item" id="load_robots">Show Robots</label>
                        <label class="dropdown-item" id="newRobotBtn" data-toggle="modal"
                               data-target="#newRobot">New</label>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div style="width: 100%; height: 100%; overflow-y:scroll">
        <table class="table-striped" style="width: 100%;" id="robot_table">
            <thead style="width: 100%">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Strategy</th>
                <th scope="col">Security</th>
                <th scope="col">Time Frame</th>
                <th scope="col">Broker</th>
                <th scope="col">Env</th>
                <th scope="col">Status</th>
                <th scope="col">Account Number</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody id="robot_table_body"></tbody>
        </table>
    </div>
</div>

<!--New Robot Modal-->
<div class="modal fade" id="newRobot" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="newRobotLabel" aria-hidden="true">
  <div class="modal-dialog" style="width: 300px">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newRobotLabel"><strong>New Robot</strong></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <div class="modal-body">
            {{ robot_form }}
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="create_robot_btn">Add</button>
      </div>
    </div>
  </div>
</div>

{% load static %}
<script src="{% static 'admin/js/robots_main.js' %}"></script>
{% endblock %}




