<!DOCTYPE html>
{% extends "base.html" %}

<!--Space for CSS-->
{% block style %}

{% endblock %}

<!--Scripts-->
{% block script %}
{% endblock %}

<!--New robot creator form-->
{% block entry_form %}
<form class="entry_form" action="{% url 'create robot' %}" method="POST">
    {% csrf_token %}
    <h4>New Robot</h4>
    <div class="form-group">
        <input id="robot_name" class="form-control form-control-sm" type="text" name="robot_name"
                   placeholder="Robot Name" required>
    </div>
    <div class="form-group">
        <input id="strategy_name" class="form-control form-control-sm" type="text" name="strategy_name" placeholder="Strategy" required>
    </div>
    <div class="form-group">
        <input id="security" class="form-control form-control-sm" type="text" name="security" placeholder="Security" required>
    </div>
    <div class="form-group">
        <input id="time_frame" class="form-control form-control-sm" type="text" name="time_frame" placeholder="Timeframe" required>
    </div>
    <div class="form-group">
        <input class="form-control form-control-sm" type="text" name="broker"
               placeholder="Broker" required>
    </div>
    <div class="form-group">
        <input class="form-control form-control-sm" type="text" name="account_number"
               placeholder="Account Number" required>
    </div>
    <div class="form-group">
        <label for="quantity">Quantity</label>
        <input class="form-control form-control-sm" type="number" id="quantity" name="quantity" min="0" value="0" required>
    </div>
    <div class="form-group">
        <label for="pyramiding_level">Pyramiding Level</label>
        <input class="form-control form-control-sm" type="number" id="pyramiding_level" name="pyramiding_level" min="0" max="10" value="0" required>
    </div>
    <div class="form-group">
        <label for="init_exp">Initial Exposure Level</label>
        <input class="form-control form-control-sm" type="number" id="init_exp" name="init_exp" min="0.00" step="0.01" value="0.00" required>
    </div>

    <div class="form-group">
        <label for="sl_policy">Stop Loss Policy</label>
        <select class="form-control form-control-sm" id="sl_policy" name="sl_policy" required>
            <option value="percentage">percentage</option>
            <option value="level">level</option>
        </select>
    </div>

    <div class="form-group">
        <label>Status</label><br>
        <label class="normal_text" for="active">Active</label>
        <input type="radio" id="active" name="status" value="active" required>
        <label class="normal_text" for="inactive">Inactive</label>
        <input type="radio" id="inactive" name="status" value="inactive">
    </div>

    <div class="form-group">
        <label class="entry_label_name">Environment</label>
        <div class="form-group">
            <label class="normal_text" for="live_env">Live</label>
            <input type="radio" id="live_env" name="env" value="live" required>
            <label class="normal_text" for="demo_env">Demo</label>
            <input type="radio" id="demo_env" name="env" value="demo">
        </div>
    </div>

    <script>if ("{{ exist_robots }}" == "exists") {
                        alert("Record already exists in database!");
                    }else if ("{{ exist_robots }}" == "created") { alert("New record was created!")}
    </script>
    <input class="btn btn-primary submit_button" type="submit", name="button" value="Add New Robot"><br>
</form>
{% endblock %}


<!--Main block-->
{% block main_block%}
<div class="table_container">
        <form style="display:flex;" action="{% url 'show robots' %}" method="POST">
        {% csrf_token %}
            <h2>Robot Configuration</h2>
            <input class="btn btn-primary btn-sm submit_button_2" type="submit", name="button" value="Show Robots">
        </form>
        <form id="amend_form" action="{% url 'amend robot' %}" method="POST">
            {% csrf_token %}
                <div class="row">
                    <div class="col-12">
                        <table class="table table-sm tables">
                            <thead >
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Robot Name</th>
                                    <th scope="col">Strategy</th>
                                    <th scope="col">Security</th>
                                    <th scope="col">Time Frame</th>
                                    <th scope="col">Broker</th>
                                    <th scope="col">Environment</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Sl Policy</th>
                                    <th scope="col">Pyramiding Level</th>
                                    <th scope="col">Initial Exposure</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Account Number</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for robot in robots %}
                                <tr class="row'{{robot.id}}'">
                                    <th scope="row">{{robot.id}}</th>
                                    <td><input class="form-control" type="text" name="robot_name" value="{{robot.name}}">{{robot.name}}</td>
                                    <td name="strategy">{{robot.strategy}}</td>
                                    <td>{{robot.security}}</td>
                                    <td>{{robot.time_frame}}</td>
                                    <td>{{robot.broker}}</td>
                                    <td><select name="env" value="{{robot.env}}">
                                        <option>{{robot.env}}</option>
                                        {% if robot.env == "demo"%}
                                        <option>live</option>
                                        {% else  %}
                                        <option>demo</option>
                                        {% endif %}
                                        </select>
                                    </td>
                                    <td><select name="status" value="{{robot.status}}">
                                        <option>{{robot.status}}</option>
                                        {% if robot.env == "active"%}
                                        <option>active</option>
                                        {% else  %}
                                        <option>inactive</option>
                                        {% endif %}
                                        </select>
                                    </td>
                                    <td><select name="sl_policy">
                                        <option>{{robot.sl_policy}}</option>
                                        {% if robot.sl_policy == "percentage"%}
                                        <option>level</option>
                                        {% else  %}
                                        <option>percentage</option>
                                        {% endif %}
                                        </select>
                                    </td>
                                    <td><input class="form-control" type="number" name="pyramiding_level" min="0" max="10" value="{{robot.pyramiding_level}}"></td>
                                    <td><input class="form-control" type="number" name="init_exp" min="0.00" step="0.01" value="{{robot.in_exp}}"></td>
                                    <td><input class="form-control" type="number" name="quantity" min="0" value="{{robot.quantity}}"></td>
                                    <td><input class="form-control" width="10" type="text" name="account_number" value="{{robot.account_number}}" placeholder="{{robot.account_number}}"></td>
                                    <td><button class="btn btn-primary btn-sm submit_button_2" id="button{{robot.id}}"></button>Modify</td>

                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
        </form>

        <div class="robot_form">

            <form class="form" >

                <input type="hidden" name="robot_name" value="{{robot.name}}">
                <label class="table_input_text">{{robot.id}}</label>
                <label class="table_input_text" value="{{robot.name}}">{{robot.name}}</label>
                <label class="table_input_text" name="strategy">{{robot.strategy}}</label>
                <label class="table_input_text">{{robot.security}}</label>
                <label class="table_input_text">{{robot.time_frame}}</label>
                <label class="table_input_text">{{robot.broker}}</label>

                <label class="table_input_text">Status:</label>
                <select class="table_input_field" name="status">
                    <option>{{robot.status}}</option>
                    {% if robot.status == "active"%}
                    <option>inactive</option>
                    {% else  %}
                    <option>active</option>
                    {% endif %}
                </select>
                <select class="table_input_field" name="sl_policy">
                    <option>{{robot.sl_policy}}</option>
                    {% if robot.sl_policy == "percentage"%}
                    <option>level</option>
                    {% else  %}
                    <option>percentage</option>
                    {% endif %}
                </select>
                <input class="table_input_field" type="number" name="pyramiding_level" min="0" max="10" value="{{robot.pyramiding_level}}">
                <input class="table_input_field" type="number" name="init_exp" min="0.00" step="0.01" value="{{robot.in_exp}}">
                <input class="table_input_field" type="number" name="quantity" min="0" value="{{robot.quantity}}">
                <input class="table_input_field" type="text" name="account_number" value="{{robot.account_number}}" placeholder="{{robot.account_number}}">
                <input class="amend_button" type="submit" value="Modify">
            </form>

        </div>
    </div>
{% endblock %}


