<!DOCTYPE html>
{% extends "base.html" %}

{% block head %}
{% load static %}
<link href="{% static 'admin/css/portfolio_template.css' %}" rel="stylesheet">

{% endblock %}

{% block main_block%}
<br>
<div class="card text-center shadow rounded" style="width: 100%; height: 60px; background: #19393D">
    <h3 style="color: white"><strong>Portfolio Management</strong></h3>
</div>

<!--Portfolio-->
<br>
<div class="card h-md-100 shadow rounded" style="width: 100%; height: 60px; display: flex">
    <div class="card-header" style="display: flex">
        <h5 style="color: #19393D"><strong>Portfolio</strong></h5>
        <div class="col-auto">
            <select class="form-control form-control-sm" name="port_name" id="port_selector" required>
                {% for portfolio in portfolios %}
                <option>{{portfolio.portfolio_name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-auto">
            <label class="card-text">NAV</label>
            <label id="nav_value">1000</label>
            <label>$</label>
        </div>
        <div class="col-auto">
            <label class="card-text">Available Cash</label>
            <label id="available_cash">500</label>
            <label>$</label>
        </div>
    </div>
    <div class="card_container form-row align-items-center col-auto">

    </div>
</div>

<!--Settings-->
<br>
<div class="card h-md-100 shadow bg-white rounded" style="width: 100%; height: 150px; display: flex">
    <div class="card-header" style="display: flex">
        <h5 style="color: #19393D"><strong>Settings</strong></h5>
        <div class="col-auto">
            <select class="form-control form-control-sm" name="port_name" id="port_selector_setting" required>
                <option>Positions</option>
                <option>NAV Calculation</option>
                <option>Portfolio Risk</option>
                <option>Portfolio Holdings</option>
                <option>Portfolio Return</option>
            </select>
        </div>
    </div>

    <div class="card_container form-row align-items-center ">

    </div>
</div>

<!--Process management-->
<br>
<div class="card h-md-100 shadow bg-white rounded" style="width: 100%; height: 500px">
    <h5 class="card-header" style="color: #19393D"><strong>Process Management</strong></h5>
    <div class="card_container align-items-center col-auto" id="process_div">
        <div style="display: flex">
            <div class="form-group">
                <label for="process">Process</label>
                <select class="form-control form-control-sm" style="width: 150px" name="process" id="process" required>
                    <option>Positions</option>
                    <option>NAV Calculation</option>
                    <option>Portfolio Risk</option>
                    <option>Portfolio Holdings</option>
                    <option>Portfolio Return</option>
                </select>
            </div>
            <div class="form-group">
                <input type="checkbox" id="single_tick">
                <label for="single_tick">Time Interval</label>
            </div>
            <div class="col-auto" id="calc_btn_div">
                <button class="btn btn-primary" style="width: 100px; height: 50px;" id="calc_btn">Calculate</button>
            </div>
        </div>
        <div class="form-group">
            <label for="start">Start date:</label>
            <input class="form-control form-control-sm" type="date" id="start" name="trip-start" value="2020-10-14">
        </div>
    </div>
</div>
<!--Trade Panel-->
<br>
<div class="card h-md-100 shadow bg-white rounded" style="width: 100%; height: 500px" id="trade_panel">
    <h5 class="card-header" style="color: #19393D"><strong>Trade</strong></h5>
    <div class="col-auto">
        <label for="sec_select">Security Type</label>
    </div>
    <div class="col-auto">
        <select class="form-control form-control-sm" name="sec_type" id="sec_select" style="width: 200px" required>
            <option>Robot</option>
            <option>Equity</option>
            <option>Commodity</option>
            <option>Bond</option>
            <option>Currency</option>
        </select>
    </div>
    <div class="col-auto">
        <label>Security</label>
    </div>
    <div class="col-auto">
        <select class="form-control form-control-sm" name="security" id="secs" style="width: 200px" required>
            <option class="securities">Robot</option>
            <option class="securities">Investment</option>
        </select>
    </div>
    <div class="col-auto">
        <label>Quantity</label>
    </div>
    <div class="col-auto">
        <input type="number" class="form-control form-control-sm" step="10.0" name="qty" id="qty" style="width: 200px"
               required>

        <div class="form-group">
            <label>Price</label>
            <input type="number" class="form-control form-control-sm" min="0.0" , step="10.0" name="price" id="price"
                   style="width: 200px" required>
        </div>
        <div class="col-auto" style="display: flex">
            <label>Market Value:</label>
            <label id="mv">1230</label>
        </div>
        <div class="col-auto">
            <button class="btn btn-primary" style="width: 100px; height: 50px;" id="trade_btn">Trade</button>
        </div>

    </div>
</div>
{% load static %}
<script src="{% static 'admin/js/portfolios_main.js' %}"></script>

{% endblock %}

<!--New portfolio creator form-->
{% block entry_form %}

<br>
<form class="entry_form" action="{% url 'create portfolio' %}" method="POST">
    {% csrf_token %}
    <h5><strong>New Portfolio</strong></h5>
    <div class="form-group">
        <input id="robot_name" class="form-control form-control-sm" type="text" name="port_name"
               placeholder="Portfolio Name" required>
    </div>
    <div class="form-group">
        <label>Portfolio Type</label>
        <select class="form-control form-control-sm" name="port_type" required>
            <option>Trade</option>
            <option>Investment</option>
        </select>
    </div>
    <input class="btn btn-primary submit_button" type="submit" , name="button" value="Create"><br>
</form>

<br>
<form class="entry_form" action="{% url 'create port cash flow' %}" method="POST">
    {% csrf_token %}
    <h5><strong>New Cash Flow</strong></h5>
    <div class="form-group">
        <label>Portfolio</label>
        <select class="form-control form-control-sm" name="port_name" required>
            {% for portfolio in portfolios %}
            <option>{{portfolio.portfolio_name}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label>Type</label>
        <select class="form-control form-control-sm" name="type" required>
            <option>INFLOW</option>
            <option>OUTFLOW</option>
        </select>
    </div>
    <div class="form-group">
        <input type="number" class="form-control form-control-sm" min="0.0" step="10.0" name="amount" required>
    </div>
    <input class="btn btn-primary submit_button" type="submit" , name="button" value="Add"><br>
</form>

<br>
<form class="entry_form" action="{% url 'create instrument' %}" method="POST">
    {% csrf_token %}
    <h5><strong>New Instrument</strong></h5>
    <div class="form-group">
        <input type="text" class="form-control form-control-sm" name="instrument_name" required>
    </div>
    <div class="form-group">
        <label><strong>Instrument Type</strong></label>
        <select class="form-control form-control-sm" name="instrument_type" required>
            <option>Equity</option>
            <option>Commodity</option>
            <option>Currency</option>
            <option>Bond</option>
        </select>
    </div>
    <div class="form-group">
        <label><strong>Source</strong></label>
        <select class="form-control form-control-sm" name="source" required>
            <option>oanda</option>
            <option>MAP</option>
        </select>
    </div>
    <input class="btn btn-primary submit_button" type="submit" name="button" value="Add"><br>
</form>

{% endblock %}