<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/main/main_layout.css' %}">
</head>
<style>

</style>
<body>
    <header></header>
    <div class="container">
        <aside class="left_panel">

            <form action="{% url 'home_page' %}">
                {% csrf_token %}
                <input class="menu_button" type="submit", name="button" value="Home">
            </form>

            <form action="{% url 'portfolio main' %}">
                {% csrf_token %}
                <input class="menu_button" type="submit", name="button" value="Portfolio">
            </form>

            <form action="{% url 'reports main' %}">
                {% csrf_token %}
                <input class="menu_button" type="submit", name="button" value="Reports">
            </form>

            <form action="{% url 'risk main template' %}">
                {% csrf_token %}
                <input class="menu_button" type="submit", name="button" value="Risk">
            </form>

            <form action="{% url 'robots main' %}">
                {% csrf_token %}
                <input class="menu_button" type="submit", name="button" value="Robots">
            </form>
        </aside>
        <main>
            <h1>Test configuration</h1>
        </main>
        <aside class="right_panel">
            <!--New robot creator form-->
            <form class="entry_form" action="{% url 'create broker account' %}" method="POST">
                {% csrf_token %}
                <h4>New Portfolio</h4>
<!--                <label class="entry_label_name">Broker Name</label><br>-->
<!--                <input class="entry_input_fields" type="text" name="broker_name" placeholder="Broker name" required><br>-->

<!--                <label class="entry_label_name">Account Number</label><br>-->
<!--                <input class="entry_input_fields" type="text" name="account_number" placeholder="Account Number" required><br>-->

<!--                <label class="entry_label_name">Account Token</label><br>-->
<!--                <input class="entry_input_fields" type="text" name="token" placeholder="Token" required><br>-->

<!--                <label class="entry_label_name">Environment</label>-->
<!--                <div class="radio_button_container">-->
<!--                    <label class="normal_text" for="live_env">Live</label>-->
<!--                    <input type="radio" id="live_env" name="env" value="live" required>-->
<!--                    <label class="normal_text" for="demo_env">Demo</label>-->
<!--                    <input type="radio" id="demo_env" name="env" value="demo"><br>-->
<!--                </div>-->
<!--                <script>if ("{{ exist_robots }}" == "exists") {-->
<!--                        alert("Record already exists in database!");-->
<!--                    }else if ("{{ exist_robots }}" == "created") { alert("New record was created!")}-->
<!--                </script>-->
<!--                <input class="submit_button" type="submit", name="button" value="Add New Account"><br>-->
            </form>
            <div class="right_layout">
                <p>Content comes here</p>
            </div>
        </aside>
    </div>
    <footer></footer>
</body>
</html>
