<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="csrf-token" content="{{ csrf_token }}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">

    {% load static %}
    <link href="{% static 'admin/css/base.css' %}" rel="stylesheet">

    <!--    Chart.js-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <!--JQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    {% block head %}

    {% endblock %}

    <title>Home Page</title>

</head>
<body>
<div class="container-fluid my_container">
    <!--        NAV Bar-->
    <div>
        <nav class="navbar navbar-dark nav_bar">
            <label class="navbar-brand"><strong>FFM SYSTEMS</strong></label>
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            {% if user.is_authenticated %}
            <p class="navbar-brand">Welcome {{ user.get_username }}</p>
            <a href="{% url 'logout' %}">Log out</a>
            {% else %}
            <p>Please log in</p>
            {% endif %}
        </nav>
    </div>
    <div class="container-fluid my_container row_nav_bar">
        <div class="col"></div>
    </div>
    <div class="row main_area">
        <!--            Left Panel-->
        <div class="col-1 left">
            <div class="nav flex-column nav-pills side_bar">
                <a class="nav-link link_color font-weight-bold" href="{% url 'home_page' %}">Home</a>
                <a class="nav-link link_color font-weight-bold" href="{% url 'portfolio main' %}">Portfolio</a>
                <a class="nav-link link_color font-weight-bold" href="{% url 'reports main' %}">Reports</a>
                <a class="nav-link link_color font-weight-bold" href="{% url 'risk main template' %}">Risk</a>
                <a class="nav-link link_color font-weight-bold" href="{% url 'robots main' %}">Robots</a>
                <a class="nav-link link_color font-weight-bold" href="{% url 'accounts main' %}">Accounts</a>
                <a class="nav-link link_color font-weight-bold" href="{% url 'instruments main' %}">Instruments</a>
                <a class="nav-link link_color font-weight-bold" href="{% url 'settings main' %}">Settings</a>
                <a class="nav-link link_color font-weight-bold" href="{% url 'trade_app main' %}">Trade</a>
            </div>
        </div>
        <!--            Main Panel-->
        <main class="col-8 main_panel">
            {% block main_block%}
            {% endblock %}
        </main>
        <div class="col right">
            <!--Place for entry box-->
            {% block entry_form %}

            {% endblock %}
        </div>
    </div>
</div>

<!--    Bootstrap Js-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>


<!----

background color: E9E7E0
blue: 49B0C2
yellow:B5A22A
red like : AC5C26
strong green : 19393D


>