<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/main/main_layout.css' %}">
</head>

<script>
    {% block script %}

    {% endblock %}
</script>

<style>
    {% block style %}

    {% endblock %}
</style>

<body>
    <header></header>
    <div class="container">
        <aside class="left_panel">
            <form action="{% url 'home_page' %}">
                {% csrf_token %}
                <input class="menu_button" type="submit", name="button" value="Home">
            </form>
            <form action="{% url 'portfolio main' %}">
                {% csrf_token %}
                <input class="menu_button" type="submit", name="button" value="Portfolio">
            </form>
            <form action="{% url 'reports main' %}">
                {% csrf_token %}
                <input class="menu_button" type="submit", name="button" value="Reports">
            </form>
            <form action="{% url 'risk main template' %}">
                {% csrf_token %}
                <input class="menu_button" type="submit", name="button" value="Risk">
            </form>
            <form action="{% url 'robots main' %}">
                {% csrf_token %}
                <input class="menu_button" type="submit", name="button" value="Robots">
            </form>
        </aside>
        <main>
            {% block main_block%}
            {% endblock %}
        </main>
        <aside class="right_panel">
            {% block entry_form %}
            {% endblock %}
        </aside>
    </div>
</body>
</html>