<!DOCTYPE html>
{% extends "base.html" %}

{% block css_place %}

.trade_log{
    height:500px;
    width: 100%;
    background: white;
    font-size: 12px;
    border-bottom: 1px solid grey;
}

thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
    line-height: 5px;
    height:5px;
    text-align:center;
}

tbody {
    display:block;
    height:460px;
    overflow:auto;
}

h5{
    margin:5px;
}

.menu_bar{
    height:50px;
    margin:auto;
    border-bottom: 1px solid grey;
}

.chart_area{
    margin:auto;
    height:500px;
    border-bottom: 1px solid grey;
}

{% endblock %}

    {% block entry_form %}
    <h5 class="nav-link link_color font-weight-bold">
        Trade Log
    </h5>
    <div class="trade_log">
        <table class="table">
          <thead>
            <tr>
                <th>Robot</th>
                <th>Security</th>
                <th>Action</th>
                <th>Quantity</th>
            </tr>
          </thead>
          <tbody>
            <tr>
                <td>test</td>
                <td>EUR_USD</td>
                <td>BUY</td>
                <td>10000</td>
            </tr>
            <tr>
                <td>test</td>
                <td>EUR_USD</td>
                <td>BUY</td>
                <td>10000</td>
            </tr>
          <tr>
                <td>test</td>
                <td>EUR_USD</td>
                <td>BUY</td>
                <td>10000</td>
            </tr>
          <tr>
                <td>test</td>
                <td>EUR_USD</td>
                <td>BUY</td>
                <td>10000</td>
            </tr>
          <tr>
                <td>test</td>
                <td>EUR_USD</td>
                <td>BUY</td>
                <td>10000</td>
            </tr>
          <tr>
                <td>test</td>
                <td>EUR_USD</td>
                <td>BUY</td>
                <td>10000</td>
            </tr>
          <tr>
                <td>test</td>
                <td>EUR_USD</td>
                <td>BUY</td>
                <td>10000</td>
            </tr>
          <tr>
                <td>test</td>
                <td>EUR_USD</td>
                <td>BUY</td>
                <td>10000</td>
            </tr>
          <tr>
                <td>test</td>
                <td>EUR_USD</td>
                <td>BUY</td>
                <td>10000</td>
            </tr>
          <tr>
                <td>test</td>
                <td>EUR_USD</td>
                <td>BUY</td>
                <td>10000</td>
            </tr>
          <tr>
                <td>test</td>
                <td>EUR_USD</td>
                <td>BUY</td>
                <td>10000</td>
            </tr>
          <tr>
                <td>test</td>
                <td>EUR_USD</td>
                <td>BUY</td>
                <td>10000</td>
            </tr>
          <tr>
                <td>test</td>
                <td>EUR_USD</td>
                <td>BUY</td>
                <td>10000</td>
            </tr>
          <tr>
                <td>test</td>
                <td>EUR_USD</td>
                <td>BUY</td>
                <td>10000</td>
            </tr>
          <tr>
                <td>test</td>
                <td>EUR_USD</td>
                <td>BUY</td>
                <td>10000</td>
            </tr>
          <tr>
                <td>test</td>
                <td>EUR_USD</td>
                <td>BUY</td>
                <td>10000</td>
            </tr>
          <tr>
                <td>test</td>
                <td>EUR_USD</td>
                <td>BUY</td>
                <td>10000</td>
            </tr>
          <tr>
                <td>test</td>
                <td>EUR_USD</td>
                <td>BUY</td>
                <td>10000</td>
            </tr>
          <tr>
                <td>test</td>
                <td>EUR_USD</td>
                <td>BUY</td>
                <td>10000</td>
            </tr>
          </tbody>
        </table>
    </div>
    {% endblock %}

    {% block main_block%}
    <div class="row menu_bar">
        <form action="{% url 'test_execution' %}" method="POST">
            <input class="btn btn-primary btn-sm" type="submit", name="button" value="Test Open Trade Execution"><br>
        </form>
        <form action="{% url 'test_close_execution' %}" method="POST">
            <input class="btn btn-primary btn-sm" type="submit", name="button" value="Test Close Trade Execution"><br>
        </form>

<!--        Form for submiting robot results-->
        <form class="form-inline" action="{% url 'get_results' %}" method="POST">
            {% csrf_token %}

                <label class="col-sm-2 col-form-label">Trade</label>
                <div class="col-auto">
                    <select class="form-control">
                        <option selected>BUY</option>
                        <option>SELL</option>
                        <option>ALL</option>
                    </select>
                </div>

                <label>Robot</label>
                <div class="col-auto">
                    <select class="form-control">
                        <option>test</option>
                        <option>test_2</option>
                    </select>
                </div>

                <button type="submit" class="btn btn-primary mb-2">Submit</button>

        </form>
    </div>

    <div class="row chart_area">
        <div class="col" style="width:50%;">
            <canvas id="line_chart" width="50%" height="20">
            <script>
                var ctx = document.getElementById('line_chart').getContext('2d');
                var chart = new Chart(ctx, {
                // The type of chart we want to create
                type: 'line',

                // The data for our dataset
                data: {
                    labels: {{ pnl_label }},
                    datasets: [{
                        label: 'My First dataset',
                        backgroundColor: '#49B0C2',
                        borderColor: '#19393D',
                        data: {{ pnls }}
                    }]
                },

                // Configuration options go here
                options: {}
                });
            </script>
            </canvas>
        </div>
        <div class="col" style="width:50%;">
            <canvas id="line_chart_2" width="50%" height="20">
            <script>
                var ctx = document.getElementById('line_chart_2').getContext('2d');
                var chart = new Chart(ctx, {
                // The type of chart we want to create
                type: 'line',

                // The data for our dataset
                data: {
                    labels: {{ pnl_label }},
                    datasets: [{
                        label: 'My First dataset',
                        backgroundColor: '#49B0C2',
                        borderColor: '#19393D',
                        data: {{ cum_pnl }}
                    }]
                },

                // Configuration options go here
                options: {}
                });
            </script>
            </canvas>
        </div>
    </div>



    {% endblock %}
