<!DOCTYPE html>
{% extends "base.html" %}
    {% block main_block%}
    <div class="row" style="width:100%; background:green; margin-left: 1px;">
        <div class="col">
            <form>
                <div class="row" style="padding:5px;">
                    <div>
                        <label class="checkbox-inline">Overnight Trading</label>
                        <input type="checkbox" checked data-toggle="toggle" data-onstyle="danger">
                    </div>


                    <div style="display:flex;">
                        <label class="my-1 mr-2" style="width:150px; padding-left: 10px;">Start Time</label>
                        <input class="form-control" type="time" value="22:00:00">
                    </div>

                    <div style="display:flex;">
                        <label class="my-1 mr-2" style="width:150px; padding-left: 10px;">End Time</label>
                        <input class="form-control" type="time" value="06:00:00">
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% endblock %}