header{
    background:#053752;
    height:50px;
    width:1800px;
    margin:2px;

}

footer{
    background:#6495ED;
    height:50px;
    width:1800px;
    margin:2px;
}

main{
    background:white;
    flex-grow:10;
    margin:2px;
    border-left: 1px solid grey;
    border-right: 1px solid grey;

}

.right_panel{
    background:white;
    width: 250px;
    margin: 2px;

}

.left_panel{
    background:white;
    width:155px;
    margin:2px;
    justify-content: center;
}

.container{
    width: 1800px;
    height:800px;
    display:flex;
    margin:2px;
    border-right_panel: 10px;
}

.menu_button{
  border-radius: 5px;
  background-color: white;
  border: 1px solid #555555;
  color: blue;
  padding: 5px 20px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  width: 150px;
  cursor: pointer;
  margin: 1px;
}

.normal_text{
    font-size: 12px;
}



.submit_button{
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;

  font-size: 16px;
  margin: 20px;
}

.radio_button_container{
      text-align: left;
}

.entry_input_fields{
    border: 1px solid #555555;
    font-size: 12px;
    width: 236px;
}

.entry_label_name{
    font-size: 12px;
    font-weight: bold;
}

.entry_form{
    height: 500px;
    margin: 5px;
    width: 240px;
    display: inline-block;
    border-up: 1px solid grey;
    border-bottom: 1px solid grey;
}

.entry_div{
    background:green;
    width: 180px;
    margin: 20px;
    height: 400px;
}

.right_layout{
    border-bottom: 1px solid grey;
    height: 100px;
    margin: 5px;
    width: 240px;
    display: inline-block;
}